@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Proxima Nova", system-ui, sans-serif;
  }
}

div {
  transition: all ease 0.3s;
}

.landing-page-bio {
  display: block;
  min-width: none;
  animation: animate-bio 3s ease-in-out 1s infinite alternate-reverse;
  overflow: hidden;
  max-width: fit-content;
}

@keyframes animate-bio {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
